@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400&display=swap');

body {
	font-family: 'Barlow Condensed', sans-serif;
}

div.content {
	width: 90%;
	max-width: 40em;
	margin: auto;
}

header {
	text-align: center;
	font-size: 14px;
}

footer {
	width: 10em;
	text-align: center;
	position: absolute;
	bottom: 1em;
	left: 50%;
	margin: 0em 0em 0em -5em;
}

.upload-area {
	height: 10em;
	border: 2px dashed #aaa;
	border-radius: 0.5em;
	background: #efefef;
	margin: 0px auto;
	display: block;
}

.upload-area input[type="file"] {
	margin: 5em auto;
	display: block;
}

form {
	width: 100%;
	margin: 0px auto;
}

button.download-button {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1em;
	color: #fff;
	border: 0px;
	background: #4000c0;
	border-radius: 0.5em;
	padding: 0.6em 1.2em;
	margin: 1em 0em;
	float: right;
}
